---
---

@import "{{ site.theme }}";

h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #0092d4;
    color: #ffffff !important;
    padding-top:0.5rem;
    padding-left:0.5rem;
    padding-bottom:0.5rem;
}
